---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - postgres-deployment.yaml
  - postgres-svc.yaml
secretGenerator:
  - name: postgres-password
    files:
      - POSTGRES_PASSWORD=./secrets/postgres_password.txt
generatorOptions:
  disableNameSuffixHash: true
